{% extends "main.html" %}
{% block tabs %}
{{ super() }}

<style>
    .md-main {
        flex-grow: 1; /* Allow the main content area to take up all available space */
        min-height: 100vh;
    }

    .md-main__inner {
        max-width: 100%; /* Allow the inner content area to take up all available width */
        margin: 0 auto; /* Center the content */
        display: flex;
        height: 100%;
        justify-content: center; /* Center content horizontally inside the flex container */
        align-items: center; /* Center content vertically inside the flex container */
        text-align: center; /* Center text and inline elements */
    }
    
    .md-content__title {
        display: none; /* Hide the page title */
    }

    @media screen and (min-width:76.25em) {
        .md-sidebar--primary,
        .md-sidebar--secondary {
            display: none !important; /* Hide both sidebars on larger screens */
        }
    }
</style>

{% endblock %}


{% block footer %}
{{ super() }}
{% endblock %}
