<!-- Custom HTML site displayed as the Home chapter -->
{% extends "main.html" %}
{% block tabs %}
{{ super() }}

<!-- Main site Entry button descriptions -->
<section class="tx-container">
    <div class="md-grid md-typeset">
        <div class="tx-hero">
                <div class="tx-hero__image">
	            <img src="../../assets/VERO-ongoing-research-banner-Slide1.jpeg" alt="VERO_Building" draggable="false" style="width: 100%; max-width:"1200px" ;"/>
                </div>
        </div>
    </div>
</section>
{% endblock %}

<style>
	.md-main__inner {
			max-width: 100%;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
	}

	@media screen and (min-width:76.25em) {
			.md-sidebar--primary {
					display: none !important;
			}
	}
</style>

{% endblock %}



{% block footer %}
{{ super() }}
{% endblock %}


